@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }

  .dark {
    --background: 224 83% 7%;
    --foreground: 193 87% 94%;
    --card: 224 83% 9%;
    --card-foreground: 193 87% 94%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 193 87% 94%;
    --primary: 200 88% 73%;
    --primary-foreground: 224 83% 7%;
    --secondary: 224 35% 60%;
    --secondary-foreground: 224 83% 7%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 155 95% 58%;
    --accent-foreground: 224 83% 7%;
    --destructive: 0 62.8% 40%;
    --destructive-foreground: 193 87% 94%;
    --border: 224 35% 20%;
    --input: 224 35% 20%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }

  @font-face {
    font-family: marcellus;
    src: url('/static/fonts/marcellus/Marcellus-Regular.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: metropolis;
    src: url('/static/fonts/metropolis/Metropolis-Regular.otf');
    font-display: swap;
  }

  @font-face {
    font-family: metropolis-medium;
    src: url('/static/fonts/metropolis/Metropolis-Medium.otf');
    font-display: swap;
  }

  @font-face {
    font-family: metropolis-semibold;
    src: url('/static/fonts/metropolis/Metropolis-SemiBold.otf');
    font-display: swap;
  }

  @font-face {
    font-family: metropolis-bold;
    src: url('/static/fonts/metropolis/Metropolis-Bold.otf');
    font-display: swap;
  }

  @font-face {
    font-family: metropolis-black;
    src: url('/static/fonts/metropolis/Metropolis-Black.otf');
    font-display: swap;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  * {
    font-family: metropolis, sans-serif;
    /* border: 1px solid red;  */
  }

  body {
    @apply bg-background text-foreground;
  }
}
